.search-container {
  display: flex;
}

.search-container input[type=text] {
  width: 450px;
  padding: 10px;
  border: none;
  font-size: 17px;
}

.search-container input[type=text]:focus {
  outline: none;
}

.search-container button {
  float: right;
  padding: 6px 18px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}
 