:root {
  --sidebar-wrapper-width: 450px;
  --sidebar-background-color: #151c28; /* #0a120e */
  --sidebar-left-border-right: 3px solid gray;
}

.sidebar-wrapper {
  display: flex;
  width: var(--sidebar-wrapper-width);
  min-width: var(--sidebar-wrapper-width);
  height: calc(100vh - var(--header-main-height) - var(--footer-main-height));
  color: white;
  position: fixed;
  bottom: var(--footer-main-height);
  z-index: 100;
  left: -450px;
  transition: all 500ms linear;
}

.sidebar-wrapper.active {
  left: 0;
}

.sidebar-right {
  width: var(--sidebar-wrapper-width);
  height: auto;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: var(--sidebar-background-color);
  height: calc(100vh - var(--header-main-height) - var(--footer-main-height) - 60px);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8; 
}

.info {
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 20px;
  margin-bottom: 20px;
  border: 2px solid #022644;
}

.info p {
  margin: 0px;
}

.info .info-p {
  margin-bottom: 10px;
}

.info .info-p-p {
  padding-left: 10px;
}

.info .btn-container {
  display: flex;
  justify-content: flex-end;
}

.study-button {
  align-self: flex-start;
  background: #022644;
  opacity: 1 !important;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 17px;
  cursor: pointer;
}







