html[data-theme="light"] {
  --header-main-background-color: #5fa5bf;
  --footer-main-background-color: #5fa5bf;
  --sidebar-background-color: #5fa5bf;
  --sidebar-left-border-right: 3px solid gray;
}

.App {
  text-align: center;
}

