html[data-theme="dark"] {
  --header-main-background-color: #407196;
  --footer-main-background-color: #407196;
  --sidebar-background-color: #407196;
  --sidebar-left-border-right: 3px solid gray;
}

.App {
  text-align: center;
}

