html, body {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.authors {
  position: absolute;
  z-index: 1;
  bottom: 70px;
  left: 20px;
  color: white;
  font-size: small;
}

.legal-right {
  display: flex;
  position: absolute;
  width: 360px;
  justify-content: space-between;
  z-index: 1;
  bottom: 70px;
  right: 20px;
  color: white;
  font-size: small;
}
.legal-right a { 
  color: inherit; 
}

