:root {
  --header-main-padding: 30px;
  --header-main-height: 70px;
  --header-main-background-color: #151c28;
}

.header-main {
  position: fixed;
  z-index: 100;
  box-sizing: border-box;
  border-bottom: 1px solid grey;
  width: 100vw;
  /* width: calc(100vw - ( 2 * var(--header-main-padding))); */
  height: var(--header-main-height);
  margin: 0;
  padding: 0 var(--header-main-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-main-background-color);
  color: White;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  -moz-opacity: 0.80;
  -khtml-opacity: 0.80;
  opacity: 0.80;
}

.header-company {
  display: flex;
  align-items: center;
}

.header-company h1 {
  padding: 0px;
  margin: 0px;
}

.header-company div {
  display: flex;
  align-items: flex-end;
  height: 30px;
  padding: 0px;
  border-left: 3px solid white;
  margin-left: 15px;
}

.header-company p {
  margin-left: 5px;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.header-company-logo {
  width: 25px;
  height: 25px;
  animation: spin 5s linear infinite;
}

.header-company-name {
  margin: 0;
  margin-left: 10px;
  font-size: 20px;

}

.header-about {
  font-size: 20px;
}

.header-link {
  color: #1f2f61;
}

.header-link:hover {
  color: #1f2f61;
  text-decoration: none;
}